
@{
    ViewBag.Title = @Resources.NDTranslations.languageIndex;
}

<h2>@ViewBag.Title</h2>
<p>
    <ul class="nav navbar-nav"><li>@Html.ActionLink(@Resources.NDTranslations.selectLanguage, "ChangeLanguage", "NDLanguage")</li></ul>
</p>
<br />

